* {
    margin: 0;
    padding: 0;
}
#top {
    width: 100%;
    height: 80px;
    background: url("../images/top-backgroundImg.jpg") no-repeat;
    background-size: cover;
    position: relative;

}

#top i {
    position: absolute;
    left: 80%;
    top: 20%;
    color: #CCCCCC;
    font-size: 20px;
    cursor: pointer;
}

#top-nav {
    width: 100%;
    height: 45px;
    position: fixed;
    padding-top: 15px;
    z-index: 5;
    top: 0;
    background-color: #FFFFFF;
    padding-left: 250px;
    display: none;
}

#top-nav .goodsList-top {
    list-style: none;
    display: inline-block;
    width: 192px;


}

#top-nav .goodsList-top i {
    float: left;
    color: #bfbfbf;
    font-size: 11px;
    margin: 2px 5px 0;
}

#top-nav .goodsList-top dl {
    display: inline-block;
}

#top-nav .goodsList-top > li:first-child {
    height: 40px;
    background-color: red;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}

#top-nav .goodsList-top .goods-top {
    height: 56px;
    padding-top: 15px;
    background-color: rgba(51, 51, 51, 0.9);
    display: none;
}

#top-nav .goodsList-top .goods-top:hover {
    background-color: black;
    cursor: pointer;
}

#top-nav .goodsList-top .goods-top span {
    margin-right: 2px;
}

#top-nav .goodsList-top .goods-top dl span:hover {
    color: red;
}

#top-nav .goodsList-top .goods-top dl dd {
    font-size: 11px;
    color: #f2ffff;
}

#top-nav .goodsList-top .goods-top dl dt {
    font-size: 11px;
    color: #bfbfbf;
    margin-top: 2px;
}

#top-nav .detial-top {
    width: 780px;
    display: none;
    background-color: white;
    position: absolute;
    left: 442px;
    top: 55px;
    box-shadow: 0px -2px 2px #CCCCCC;
    padding: 20px;
    z-index: 2;
}

#top-nav .detial-top .detialTitle {
    margin-bottom: 10px;
    display: inline-block;
}

#top-nav .detial-top .detialTitle span {
    display: inline-block;
    padding: 4px 7px;
    background-color: #333333;
    color: white;
    font-size: 12px;
    margin: 0 5px;
}

#top-nav .detial-top .detialText {
    width: 610px;
    float: left;
}

#top-nav .detial-top .detialText > li {
    padding: 10px 0;
    border-bottom: 1px dashed #7f7f7f;
    overflow: hidden;
}

#top-nav .detial-top .detialText li {
    list-style: none;
}

#top-nav .detial-top .detialText li ul li {
    float: left;
    display: inline-block;
    margin-bottom: 5px;
}

#top-nav .detial-top .detialText li ul li:hover {
    color: red;
}

#top-nav .detial-top .detialText > li div {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 60px;
    text-align: right;

}

#top-nav .detial-top .detialText li ul {
    float: left;
    width: 540px;
    margin-left: 10px;
}

#top-nav .detial-top .detialText li ul li {

    padding: 0 10px;
    height: 20px;
    font-size: 12px;
    color: #555555;
    position: relative;
    text-align: center;
}

#top-nav .detial-top .detialText li ul li:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 60%;
    border-left: 1px solid #555555;
}

#top-nav .detial-top .detialImg {
    width: 158px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    /*border: 1px solid #CCCCCC;*/
    border-collapse: collapse;
}

#top-nav .detial-top .detialImg td {
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
}

#top-nav .detial-top .detialImg td img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#top-nav .detial-top .detialImg tr:last-child td {
    width: 100%;
    height: 80px;
    border: 0;
    box-sizing: content-box;
}

#top-nav .searchBox {
    position: absolute;
    width: 780px;
    height: 40px;
    left: 480px;
    top: 20px;
}

#top-nav .searchBox p{
    height: 30px;
    text-align: center;
}

#top-nav .searchBox p input:nth-of-type(1) {
    font-size: 11px;
    height: 27px;
    width: 350px;
    float: left;
    border: 1px solid red;
}

#top-nav .searchBox p .seek {
    float: left;
    width: 60px;
    height: 29px;
    font-size: 13px;
    text-align: center;
    color: white;
    border: 0;
}

#top-nav .searchBox #btn1-top {
    background-color: red;
    margin-right: 10px;
}

#top-nav .searchBox p #btn2-top {
    background-color: #b31919;
}

#top-nav .searchBox p span {
    padding: 0 5px;
    font-size: 11px;
    color: #777777;
    position: relative;
}
#top-nav .searchBox p span:hover{
    color: red;
    cursor: pointer;
}
#top-nav .searchBox p span:nth-of-type(1):before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
    top: 15%;
    border-right: 1px solid #d2d2d2;
}
#top-nav .searchBox p i{
    margin-left: 20px;
}

#head {
    width: 100%;
    height: 648px;
    background: url("../images/banner-backgroundImg.png") no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #f5f6fa;
    position: relative;
}

#head #topContent {
    width: 1020px;
    height: 670px;
    position: absolute;
    left: 250px;
}

#head #topContent .shopLogo {
    width: 192px;
    height: 110px;
    background-color: #FFFFFF;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    box-shadow: 5px 0px 2px #e9e9e9;
}

#head #topContent .head-nav {
    width: 820px;
    height: 23px;
    position: absolute;
    left: 200px;
    top: 0;
    background-color: #EEEEEE;
}

#head #topContent .head-nav .addressName {
    position: absolute;
    width: 480px;
    left: 0;
    top: 23px;
    z-index: -1;
    background-color: white;
    cursor: pointer;
}

#head #topContent .head-nav .addressName p:nth-of-type(1) span {
    margin: 0 5px;
    font-size: 12px;
    display: inline-block;
    width: 50px;
    text-align: center;
}

#head #topContent .head-nav .addressName p:nth-of-type(1) span:hover {
    background-color: red;
    color: white;
}

#head #topContent .head-nav .addressName p:nth-of-type(2) span {
    margin: 0 5px;
    font-size: 13px;
}

#head #topContent .head-nav .addressName p:nth-of-type(2) span:hover {
    color: red;

}

#head #topContent .head-nav .addressName .addBox {
    width: 480px;
    height: 148px;
    overflow: auto;
    position: relative;
}
/*改变滚动条样式*/
#head #topContent .head-nav .addressName .addBox::-webkit-scrollbar{
    background-color: #CCCCCC;
}
#head #topContent .head-nav .addressName .addBox::-webkit-scrollbar-thumb{
    display: inline-block;
    height: 10px;
    width: 2px;
    background-color: white;
    border-radius: 3px;
}

#head #topContent .head-nav .addressName .addBox::-webkit-scrollbar-track{
    width: 10px;
}
#head #topContent .head-nav .addressName .addBox::-webkit-scrollbar-track-piece{
    width: 8px;
}
#head #topContent .head-nav .addressName .addBox::-webkit-scrollbar-corner{

}
#head #topContent .head-nav .addressName .addBox > span {
    float: left;
    font-size: 13px;
    margin-left: 3px;
    margin-right: 5px;
}

#head #topContent .head-nav .addressName .addBox .addList {
    width: 440px;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
}

#head #topContent .head-nav .addressName .addBox .addList span {
    padding: 0 5px;
    display: inline-block;
}

#head #topContent .head-nav .addressName .addBox .addList span:hover {
    background-color: #EEEEEE;
    color: red;
}

#head #topContent .head-nav .navlist {
    list-style: none;
    display: inline-block;
}

#head #topContent .head-nav .navlist > li {
    float: left;
    padding: 0 5px;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #8c8c8c;
    cursor: pointer;
}

#head #topContent .head-nav .navlist:first-child > li:nth-of-type(2) {
    color: red;
}

#head #topContent .head-nav .navlist:first-child > li:nth-of-type(3):hover {
    color: red;
}

#head #topContent .head-nav ul:last-child {
    float: right;
    position: relative;

}

#head #topContent .head-nav ul:last-child li:hover {
    color: red;
}

#head #topContent .head-nav .siteNavContent {
    position: absolute;
    width: 300px;
    left: 28px;
    top: 22px;
    background-color: white;
    z-index: -1;
}

#head #topContent .head-nav .siteNavContent .cont1 {
    width: 80px;
    float: left;
    margin-top: 10px;
}

#head #topContent .head-nav .siteNavContent .cont1 ul {
    list-style: none;
    padding-right: 20px;
    border-right: 1px solid #CCCCCC;
    font-size: 11px;
}

#head #topContent .head-nav .siteNavContent .cont1 ul li:first-child {
    font-size: 11px;
    font-weight: bold;
    color: #555555;
}

#head #topContent .head-nav .siteNavContent .cont1 ul li {
    margin: 3px 0;
    color: #8c8c8c;
}

#head #topContent .head-nav .siteNavContent .cont2 {
    width: 200px;
    float: right;
    margin-top: 10px;
}

#head #topContent .head-nav .siteNavContent .cont2 ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 11px;
}

#head #topContent .head-nav .siteNavContent .cont2 ul li {
    width: 32%;
    margin: 3px 0;
    color: #8c8c8c;
}

#head #topContent .head-nav .siteNavContent .cont2 p {
    font-size: 11px;
    font-weight: bold;
    color: #555555;
}

#head #topContent .searchBox {
    position: absolute;
    width: 780px;
    height: 80px;
    left: 250px;
    top: 25px;
}

#head #topContent .searchBox p:first-child {
    margin-top: 15px;
    height: 30px;
}

#head #topContent .searchBox p:first-child input:nth-of-type(1) {
    font-size: 11px;
    height: 27px;
    width: 350px;
    float: left;
    border: 1px solid red;
}

#head #topContent .searchBox p:first-child .seek {
    float: left;
    width: 60px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    color: white;
    border: 0;
}

#head #topContent .searchBox #btn1 {
    background-color: red;
    margin-right: 10px;
}

#head #topContent .searchBox p:first-child #btn2 {
    background-color: #b31919;
}

#head #topContent .searchBox p:first-child span {
    float: right;
    display: inline-block;
    width: 160px;
    height: 28px;
    margin-right: 20px;
    border: 1px solid #d2d2d2;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    color: red;
}

#head #topContent .searchBox p:last-child {
    font-size: 11px;
    color: #bfbfbf;
}

#head #topContent .searchBox p:last-child span {
    margin-right: 10px;
}

#head #topContent .searchBox p:last-child span:hover {
    color: red;
    cursor: pointer;
}

#head #topContent .goodsList {
    list-style: none;
    display: inline-block;
    width: 192px;

}

#head #topContent .goodsList i {
    float: left;
    color: #bfbfbf;
    font-size: 11px;
    margin: 2px 5px 0;
}

#head #topContent .goodsList dl {
    display: inline-block;
}

#head #topContent .goodsList > li:first-child {
    height: 40px;
    background-color: red;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}

#head #topContent .goodsList .goods {
    height: 56px;
    padding-top: 15px;
    background-color: #333333;
}

#head #topContent .goodsList .goods:hover {
    background-color: black;
    cursor: pointer;
}

#head #topContent .goodsList .goods span {
    margin-right: 2px;
}

#head #topContent .goodsList .goods dl span:hover {
    color: red;
}

#head #topContent .goodsList .goods dl dd {
    font-size: 11px;
    color: #f2ffff;
}

#head #topContent .goodsList .goods dl dt {
    font-size: 11px;
    color: #bfbfbf;
    margin-top: 2px;
}

#head #topContent .banner {
    width: 820px;
    display: inline-block;
    position: absolute;
    top: 111px;
}

#head #topContent .banner p {
    height: 40px;
    line-height: 40px;
    color: #555;
    font-size: 14px;
}

#head #topContent .banner p a {
    width: 75px;
    display: inline-block;
    text-decoration: none;
    color: #555;
    text-align: center;
    font-size: 14px;
}

#head #topContent .banner p a:hover {
    color: red;
}

#head #topContent .banner #bannerBox {
    height: 496px;
    float: left;
    list-style: none;
    overflow: hidden;
}

#head #topContent .banner .dot li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(204, 204, 204, .5);
    margin: 0 5px;
    margin-bottom: 4px;
}

#head #topContent .banner .dot .active {
    background-color: white;
}

#head #topContent .banner #bannerBox li img {
    width: 660px;
    height: 496px;
}

#head #topContent .banner .userEnter {
    width: 160px;
    height: 496px;
    display: inline-block;
    border-top: 1px solid red;
    position: relative;
    background-color: #FFFFFF;
}

#head #topContent .banner .userEnter img:first-child {
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
}

#head #topContent .banner .userEnter p:nth-of-type(1) {
    text-align: center;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
}

#head #topContent .banner .userEnter p:nth-of-type(2) {
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
}

#head #topContent .banner .userEnter p:nth-of-type(2) span {
    display: inline-block;
    width: 65px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    box-shadow: 3px 6px 5px #ebebeb;
    cursor: pointer;
}

#head #topContent .banner .userEnter p:nth-of-type(2) span:nth-of-type(1) {
    background-color: white;
    color: red;
    margin-right: 3px;
}

#head #topContent .banner .userEnter p:nth-of-type(2) span:nth-of-type(1):hover {
    background-color: red;
    color: #555555;
}

#head #topContent .banner .userEnter p:nth-of-type(2) span:nth-of-type(2) {
    background-color: red;
    color: white;
}

#head #topContent .banner .userEnter p:nth-of-type(3) {
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
}

#head #topContent .banner .userEnter p:nth-of-type(3) .message {
    display: inline-block;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}

#head #topContent .banner .userEnter p:nth-of-type(3) span:nth-of-type(2) {
    display: inline-block;
    width: 1px;
    background-color: grey;
    height: 10px;
}

#head #topContent .banner .userEnter .notice .noticeList {
    list-style: none;
    height: 75px;
    font-size: 13px;
    cursor: pointer;
}

#head #topContent .banner .userEnter .notice .noticeList li {
    line-height: 25px;
    margin-left: 5px;
    color: #55557b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#head #topContent .banner .userEnter .notice .noticeList li:hover {
    color: red;
    cursor: pointer;
}

#head #topContent .banner .userEnter p:nth-of-type(3) .message:first-child:hover {
    color: red;
}

#head #topContent .banner .userEnter p:nth-of-type(3) .message:last-child:hover {
    color: red;
}

#head #topContent .banner .userEnter p:nth-of-type(4) {
    margin-top: 16px;
    padding-left: 12px;
}

#head #topContent .banner .userEnter .userInfo {
    width: 160px;
    height: 130px;

}

#head #topContent .banner .userEnter .userInfo div {
    width: 32.5%;
    height: 50%;
    display: inline-block;
    float: left;
    position: relative;
    border-top: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    cursor: pointer;
}

#head #topContent .banner .userEnter .userInfo div:hover span {
    color: red;
}

#head #topContent .banner .userEnter .userInfo .items3 {
    border-right: 0;
}

#head #topContent .banner .userEnter .userInfo .items6 {
    border-right: 0;
}

#head #topContent .banner .userEnter .userInfo div img {
    width: 80%;
    height: 40px;
    position: absolute;
    top: 0;

}

#head #topContent .banner .userEnter .userInfo div span {
    display: inline-block;
    font-size: 11px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
}

#head #topContent .detial {
    width: 780px;
    display: none;
    background-color: white;
    position: absolute;
    left: 192px;
    top: 151px;
    box-shadow: 0px -2px 2px #CCCCCC;
    padding: 20px;
    z-index: 999;
}

#head #topContent .detial .detialTitle {
    margin-bottom: 10px;
    display: inline-block;
}

#head #topContent .detial .detialTitle span {
    display: inline-block;
    padding: 4px 7px;
    background-color: #333333;
    color: white;
    font-size: 12px;
    margin: 0 5px;
}

#head #topContent .detial .detialText {
    width: 610px;
    float: left;
    position: relative;
    z-index: 999;
}

#head #topContent .detial .detialText > li {
    padding: 10px 0;
    border-bottom: 1px dashed #7f7f7f;
    overflow: hidden;
}

#head #topContent .detial .detialText li {
    list-style: none;
}

#head #topContent .detial .detialText li ul li {
    float: left;
    display: inline-block;
    margin-bottom: 5px;
}
/*给详情盒子中每个li添加hover*/


#head #topContent .detial .detialText > li div {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 60px;
    text-align: right;

}

#head #topContent .detial .detialText li ul {
    float: left;
    width: 540px;
    margin-left: 10px;
}

#head #topContent .detial .detialText li ul li {

    padding: 0 10px;
    height: 20px;
    font-size: 12px;
    color: #555555;
    position: relative;
    text-align: center;
}
#head #topContent .detial .detialText li ul li:hover {
    color: red;
}

#head #topContent .detial .detialText li ul li:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 60%;
    border-left: 1px solid #555555;
}

#head #topContent .detial .detialImg {
    width: 158px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    /*border: 1px solid #CCCCCC;*/
    border-collapse: collapse;
}

#head #topContent .detial .detialImg td {
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
}

#head #topContent .detial .detialImg td img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#head #topContent .detial .detialImg tr:last-child td {
    width: 100%;
    height: 80px;
    border: 0;
    box-sizing: content-box;
}

body{
    background-color: #f5f6fa;
}
ul,li{
	list-style: none;
}
/*加购会场*/
.centent{
	width: 1200px;
	margin: 20px auto;
}
.cnetent-nav{
	width: 100%;
	height: 700px;
	background-color: #FD1B4E;
}
.cnetent-nav-img{
	width: 100%;
	height: 150px;
	background: url(../images/centent-head-img.png) no-repeat ;
}
.cnetent-nav-head{
	width: 100%;
	height: 200px;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-top: 10px;
}
.cnetent-nav-head a{
	cursor: pointer;
}
.cnetent-nav-head a:hover{
	transform: translateY(-6px);
	transform: all 0.5s;
	/*box-shadow:10px 10px 10px #333 ;*/
}
.cnetent-nav-center{
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: white;
	line-height: 50px;
}
.cnetent-nav-center h3{
	width: 150px;
	height: 50px;
	display: inline-block;
	font-size: 24px;
	float: left;
	line-height: 50px;
}
.cnetent-nav-center div{
	width: 300px;
	height: 50px;
	display: inline-block;
	color: yellow;
	font-weight: bold;
	margin-left: 330px;
	font-size: 18px;
	
}
.cnetent-nav-center a{
	width: 112px;
	height: 22px;
	display: inline-block;
	float: right;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	font-size: 14px;
	text-align: center;
	line-height: 22px;
	margin-top: 14px;
	border-radius: 11px;
	margin-right: 10px;
}
/*好货聚惠*/
.centent-nav-banner{
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
}
.centent-nav-banner ul{
	width: 5000px;
	height: 300px;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	
}
.centent-nav-banner ul li{
	width: 228px;
	height: 280px;
	background-color: white;
	margin: 5px 0px 10px 10px;
	text-align: center;
	float: left;
   
}
.centent-nav-banner ul img{
	margin-top: 20px;
	width: 180px;
	height: 180px;
}	
.centent-nav-bannerli div{
	width: 180px;
	height: 70px;
}
.centent-nav-bannerli span:first-child{
	width: 180px;
	height: 40px;
	overflow: hidden;
	display: block;
	margin-left: 24px;
	font-size: 14px;
}
.centent-nav-bannerli span:last-child{
	width: 180px;
	height: 20px;
	display: block;
	margin-top: 10px;
}
.centent-nav-bannerli a:first-child{
	color: red;
}
.centent-nav-bannerli a:last-child{
	font-size: 12px;
	color: #C4C4C4;
}
#left,#right{
	width: 40px;
	height: 60px;
	position: absolute;
	top: 50%;
    margin-top: -40px;
    background-color: rgba(0,0,0,0.5);
    line-height: 60px;
    text-align: center;
    display: none;
    cursor: pointer;
}
#right{
	right: 0;
}
#right i{
    font-size: 50px;
}
#left i{
    font-size: 50px;
}
.centent-nav-banner:hover #right{
	display: block;
}
.centent-nav-banner:hover #left{
	display: block;
}
/*尖货主会场*/
.centent-venue{
	width: 1300px;
	height: 566px;
	margin: 0 auto;
	margin-left: -96.5px;
	margin-top: 20px;
	background: url(../images/centent-venue01.png) no-repeat;
}
.centent-venue-ul{
	width: 1000px;
	height: 568px;
	margin: 0 auto;
	list-style: none;
	margin-left: 296.5px;
}
.centent-venue-firstli{
	width: 1000px;
	height: 440px;
	/*background-color: rgba(0,0,0,0.5);*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.centent-venue-firstli img{
	margin-top: 10px;
	cursor: pointer;
}
.centent-venue-firstli img:hover{
	transform: translateY(-5px);
	transition: all 0.5s;
}
.centent-venue-lastli{
	width: 1000px;
	height: 128px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.centent-venue-lastli img{
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}
.centent-venue-lastli img:hover{
	transform: translateY(-5px);
	transition: all 0.5s;
}

/*发现好货*/
.centent-haohuo{
	width: 1200px;
    height: 430px;
    margin-top: 20px;
	/*background-color: #ccc;*/
}
.haohuo-left{
	width: 595px;
	height: 430px;
	margin-right: 10px;
	float: left;
}
.haohuo-left-title{
	width: 575px;
	height: 50px;
	background-color: #449DAE;
	color: white;
	padding-left: 20px;
	line-height: 50px;
	
}
.haohuo-left-title h5{
	font-size: 18px;
	display: inline-block;
}
.haohuo-left-title span{
	font-size: 14px;
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.haohuo-left-center{
    width: 190px;
    height: 360px;
    border-right: 1px solid #CCCCCC;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.haohuo-left-center img{
	width: 160px;
	height: 160px;
}
.haohuo-left-center div:nth-of-type(1){
	width: 160px;
    height: 26px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
	border-top: 1px solid #CCCCCC;
	margin-top: 20px;
	margin-left: 16px;
	padding-top: 10px;
}
.haohuo-left-center div:nth-of-type(2){
	width: 160px;
	height: 50px;
	margin-left: 16px;
	padding-top: 10px;
	font-size: 12px;
	color: #999;
}
.haohuo-left-center div:nth-of-type(3){
	width: 66px;
	height: 24px;
	margin-left: 16px;
    font-size: 12px;
    text-align: center;
	background-color: #449DAE;
	color: white;
	line-height: 24px;
}
.haohuo-left-center div:nth-of-type(3):hover{
	transform: translateY(-4px);
	transition: all 0.5s;
}
.haohuo-left-ul{
	width: 404px;
    height: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.haohuo-right{
	width: 595px;
	height: 430px;
	float: left;
}
.haohuo-right-title{
	width: 575px;
	height: 50px;
	background-color: #A25684;
	color: white;
	padding-left: 20px;
	line-height: 50px;
}
.haohuo-right-title h5{
	font-size: 18px;
	display: inline-block;
}
.haohuo-right-title span{
	font-size: 14px;
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.haohuo-right-ul{
	width: 595px;
	height: 380px;
	/*background-color: red;*/
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}
.haohuo-right-div{
	width: 1px;
	height: 360px;
	position: absolute;
	top: 10px;
	left: 290px;
	background: #EEEEEE;
}
.centent-haohuo img:hover{
	transform: scale(1.1);
	transition: all 0.5s;
}
.quick-links{
	width: 320px;
	height: 100%;
	position: fixed;
	right:-280px;
    top: 0;
    z-index: 99999;
}
.quick-links-ul{
	width: 40px;
	height: 100%;
	text-align: center;
	color: white;
	background-color: #333333;
	float: left;
}
/*购物车里面的布局*/
.quick-links-ul-div{
	width: 280px;
	height: 100%;
	float: left;
	background-color: white;
}
.quick-links-ul-div>p:nth-of-type(1){
	width: 260px;
	height: 4%;
	line-height: 30px;
	margin: 0px 10px 0px 10px;
}
.quick-links-ul-div>p:nth-of-type(1) span{
	width: 30px;
	height: 25px;
	float: right;
	background: url(../images/ibar_sprites.png) no-repeat;
}
.quick-links-ul-div>div:nth-of-type(1){
	width: 280px;
	height: 86%;
	background-color: #ECEAEA;
	text-align: center;
}
.quick-links-ul-div div:nth-of-type(2){
	width: 110px;
	height: 68px;
	background-color: #ECEAEA;
}
.quick-links-ul-div img:nth-of-type(1){
	margin-top: 200px;
}
.quick-links-ul-div-2>p:nth-of-type(1){
	width: 265px;
	height: 30px;
	font-size: 14px;
}
.quick-links-ul-div-2>p:nth-of-type(2){
	width: 265px;
	height: 30px;
	font-size: 14px;
}
.quick-links-ul-div>p:nth-of-type(2){
	width: 265px;
	height: 4%;
	padding-top: 8px;
	margin: 0px auto;
}
.quick-links-ul-div>p:nth-of-type(2) span{
	float: right;
	font-size: 18px;
	font-weight: bold;
}
.quick-links-ul-div>p:nth-of-type(3){
	width: 265px;
	height: 5%;
	background-color: red;
	color: white;
	margin: 0px auto;
	line-height:35px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.quick-links-ul li{
	width: 40px;
	height: 38px;
	margin-top: 20px;
	line-height: 38px;
	position: relative;
	cursor: pointer;
	background-color: #333333;
}
.quick-links-ul li:hover{
	background-color: red;
}
.quick-links-ul li:nth-of-type(1){
	width: 40px;
	height: 100px;
	margin-top: 0px;
}
.quick-links-ul li:nth-of-type(2){
	width: 40px;
	height: 38px;
	position: relative;
}
.quick-links-ul li:nth-of-type(2):hover .quick-links-ul-firdiv{
	display: block;
}

.quick-links-ul-firdiv{
	width: 267px;
	height: 200px;
	position: absolute;
	top: 0;
	right: 40px;
	background-color: white;
	display: none;
}
.quick-links-ul-firdiv-top{
	width: 267px;
	height: 120px;
	border-bottom: 1px solid #CCCCCC;
}
.quick-links-ul-firdiv-top img{
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 10px;
}
.quick-links-ul-firdiv-top p{
	width: 120px;
	height: 30px;
	font-size: 14px;
	float: left;
	color: black;
	line-height: 30px;
	margin-top: 20px;
}
.quick-links-ul-firdiv-bottom{
	width: 267px;
	height: 80px;
}
.quick-links-ul-firdiv-bottom div{
	width: 100px;
	height: 30px;
	border: 1px solid #CCCCCC;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	color: black;
	line-height: 30px;
	background-color: #F8F8F8;
}
.quick-links-ul-firdiv-bottom div:hover{
	border: 1px solid red;
	background-color: white;
}

.quick-links-ul li:nth-of-type(3){
	width: 40px;
	height: 133px;
	margin-top: 10px;
	border-bottom: 1px solid #CBCCD0;
	border-top: 1px solid #CBCCD0;
	padding-top: 10px;
	line-height: 24px;
}
.quick-links-ul li:nth-of-type(10){
	width: 40px;
	height: 38px;
	margin-top: 30px;
}
.quick-links-ul i{
	color: white;
	font-size: 20px;
}
.quick-links-ul span:nth-of-type(1){
	display: inline-block;
	width: 20px;
}
.quick-links-ul span:nth-of-type(2){
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	color: white;
	margin-top: 5px;
	line-height: 20px;
}
.quick-links-ul-firdiv3{
	width: 100px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	background-color: black;
	right: 80px;
	top: 0;
	display: none;
	transition: all 2s;
}
.quick-links-ul li:nth-of-type(4):hover .quick-links-ul-firdiv3{
	display:inline-block;
	right: 40px;
	transition: all 2s;
}
.quick-links-ul li:nth-of-type(5):hover .quick-links-ul-firdiv3{
	display:inline-block;
	right: 40px;
	transition: all 2s;
}
.quick-links-ul li:nth-of-type(6):hover .quick-links-ul-firdiv3{
	display:inline-block;
	right: 40px;
	transition: all 2s;
}
.quick-links-ul li:nth-of-type(7):hover .quick-links-ul-firdiv3{
	display:inline-block;
	right: 40px;
	transition: all 2s;
}
.quick-links-ul li:nth-of-type(8):hover .quick-links-ul-firdiv3{
	display:inline-block;
	right: 40px;
	transition: all 2s;
}
.quick-links-ul li:nth-of-type(9):hover .quick-links-ul-firdiv3{
	display:inline-block;
	right: 40px;
	transition: all 2s;
}
.quick-links-ul li:nth-of-type(10):hover .quick-links-ul-firdiv3{
	display:inline-block;
	right: 40px;
	transition: all 2s;
}
/* 特色推荐区域结束 */
/* 商创特卖区域开始 */
.hot-items{
    width: 100%;
    height: 440px;
    margin: 20px 0 20px 0;
}
.hot-content{
    width: 1200px;
    height: 440px;
    margin:  0 auto;
    display: flex;
}
.hot-left{
    width: 393px;
    height: 430px;
}
.hot-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #c43d7e;
    color: white;
}
.hot-title h5{
    float: left;
    font-size: 20px;
    margin-left: 20px;
    font-weight: normal;
}
.hot-title a{
    float: right;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.hot-contents{
    width: 393px;
    height: 380px;
    margin: 0 auto 0;
    background-color: #fff;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.hot-contents ul li{
    list-style: none;
    float: left;
    width: 184px;
    height: 120px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.hot-contents ul li:nth-child(4){
    border-bottom-width: 0;
}
.hot-contents ul li:nth-child(5){
    border-bottom-width: 0;
}
.hot-contents .hot-first{
    height: 241px;
    border-right: 1px solid #e7e7e7;
}
.hot-first .hot-text{
    margin: 35px 0 5px 12px;
}
.hot-first .hot-text p{
    width: 160px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
    padding-left: 20px;
}
.hot-first .hot-text .hot-name{
    color: #999;
    font-size: 12px;
}
.hot-img{
    width: 160px;
    height: 160px;
    margin-left: 20px;
    overflow: hidden;
}
.hot-img img{
    width: 100%;
    height: 100%;
}
.hot-img a:hover img{
    transform: scale(1.04);
    transition: all 0.5s;
}
.hot-texts{
    width: 72px;
    margin: 20px 0 0 20px;
}
.hot-texts p{
    width: 72px;
    height: 20px;
    font-size: 12px;
    color: #999;
}
.hot-texts .hot-name{
    font-size: 12px;
    color: #333;
}
.hot-imgs{
    width: 90px;
    height: 90px;
    float: right;
    margin: -57px 0 0 0;
}
.hot-imgs img{
    width: 100%;
    height: 100%;
}
.hot-imgs a:hover img{
    transform: scale(1.04);
    transition: all 0.5s;
}
.hot-center,.hot-right{
    width: 393px;
    height: 430px;
    margin-left: 10px;
    background-color: #fff;
}
.hot-center .hot-title{
    background-color: #e66a07;
}
.hot-center ul li{
    position: relative;
    width: 184px;
    height: 120px;
    border-style: solid;
    border-color: #e7e7e7;
    border-width: 0 0 1px 0;
    float: left;
}
.hot-center ul li:nth-child(1){
    border-right-width: 1px;
}
.hot-center ul li:nth-child(3){
    border-right-width: 1px;
}
.hot-center ul li:nth-child(5){
    border-right-width: 1px;
}
.hot-center ul li:nth-child(5){
    border-bottom-width: 0;
}
.hot-center ul li:nth-child(6){
    border-bottom-width: 0;
}
.hot-center .hot-center-name{
    width: 72px;
    font-size: 12px;
    margin: 20px 0 0 20px;
    color: #999;
}
.hot-center-name p{
    height: 40px;
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 10px;
    color: #333;
}
.hot-center-imgs{
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 4px;
    right: 2px;
}
.hot-center-imgs img{
    width: 100%;
    height: 100%;
}
.hot-center-imgs a:hover img{
    transform: scale(1.02);
    transition: all 0.5s;
}
.hot-right-box{
    width: 369px;
    height: 371px;
    margin: 10px auto 0;
}
.hot-right-top,.hot-right-floor{
    width: 100%;
    height: 180px;
    display: flex;
}
.hot-right-top{
    border-bottom: 1px solid #e7e7e7;
}
.hot-right-top .hot-right-left{
    width: 123px;
    height: 180px;
    position: relative;
}
.hot-right-left .hot-right-img{
    width: 100px;    
    height: 100px;
    margin: 10px 0 0 10px;
}
.hot-right-img img{
    width: 100%;
    height: 100%;
}
.hot-right-left p{
    width: 100px;
    height: 32px;
    color: #333;
    overflow: hidden;
    font-size: 12px;
    margin: 10px 0 5px 10px;
}
.hot-right-left span{
    color: #b62323;
    margin: 0 0 0 10px;
}
.hot-right-left .hot-icon{
    width: 23px;
    height: 23px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 19px;
    background: url(../images/festival_icon.png) no-repeat -1px -30px;
}
.hot-right-left .hot-icon-two{
    background-position: -31px -30px;
}
.hot-right-left .hot-icon-three{
    background-position: -60px -30px;
}
.hot-right-box .hot-right-floor{
    border-bottom: 0;
}
/* 商创特卖区域结束 */
/* 活动专区区域开始 */
.shaky{
    width: 100%;
    height: 360px;
}
.shaky-box{
    width: 1200px;
    height: 360px;
    margin: 0 auto;
}
.shaky-box ul{
    width: 1210px;
    margin-top: -10px;
}
.shaky-box ul li{
    width: 393px;
    height: 170px;
    float: left;
    margin: 10px 10px 0 0;
    position: relative;
}
.shaky-box ul li a{
    display: block;
    width: 100%;
    height: 126px;
    padding-top: 44px;
    color: #fff;
}
.shaky-box ul li img{
    width: 170px;
    height: 170px;
    position: absolute;
    top: 0;
    right: 25px;
    transition: all 0.5s;
}
.shaky-box ul li a:hover img{
    transform: translateX(-10px);
    transition: all 0.5s;
}
.shaky-box .shaky-line{
    display: block;
    width: 78px;
    height: 2px;
    background: url(../images/festival_icon.png) no-repeat -1px -3px;
    margin-left: 35px;
}
.shaky-box .shaky-name{
    font-size: 18px;
    height: 26px;
    margin: 5px 0 5px 35px;
}
.shaky-box .desc{
    font-size: 13px;
    margin: 5px 0 0 35px;
}
.shaky-box .line-shaky{
    display: block;
    width: 154px;
    height: 2px;
    background: url(../images/festival_icon.png) no-repeat 0px -11px;
    margin-left: 35px;
}
.shaky-box ul li:nth-child(1){
    background: #e89621;
    background: linear-gradient(to right, #e89621,#f5c568) 
}
.shaky-box ul li:nth-child(2){
    background: #325bb4;
    background: linear-gradient(to right, #325bb4,#4c9afe)
}
.shaky-box ul li:nth-child(3){
    background: #1c9daf;
    background: linear-gradient(to right, #1c9daf,#40cda7)
}
.shaky-box ul li:nth-child(4){
    background: #d13837;
    background: linear-gradient(to right, #d13837,#df6d4f)
}
.shaky-box ul li:nth-child(5){
    background: #ca4283;
    background: linear-gradient(to right, #ca4283,#eb75cf)
}
.shaky-box ul li:nth-child(6){
    background: #5d40c1;
    background: linear-gradient(to right, #5d40c1,#8c5fdb)
}
/* 活动专区区域结束 */
/* 还没逛够区域开始 */
.continue{
    width: 100%;
    height: 1500px;
    margin-top: 20px;
}
.continue-box{
    width: 1200px;
    height: 1500px;
    margin: 0 auto;
}
.continue-box ul{
    width: calc(100% + 10px);

}
.continue-box ul li{
    float: left;
    width: 210px;
    margin: 0 10px 10px 0;
    border: 1px solid #D2D2D2;
    padding: 10px;
    background: #fff;
}
.continue-box .continue-img{
    width: 210px;
    height: 210px;
}
.continue-img img{
    width: 100%;
    height: 100%;
}
.continue-box .continue-text{
    width: 210px;
    height: 42px;
    margin-top: 10px;
}
.continue-text p{
    width: 210px;
    height: 21px;
    font-size: 13px;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.continue-text .price{
    font-size: 16px;
    color: #f42424;
}
.continue-text .no-price{
    text-decoration: line-through;
    font-size: 12px;
    color: #555;
}
.continue-box ul li a:hover p{
    color: #f42424;
}
.continue-box ul li:hover{
    border-color: #f42424;
}
/* 还没逛够区域结束 */
/* 底部开始 */
.bottom-floor{
    width: 100%;
    height: 382px;
    background-color: #eee;
}
.bottom-box{
    width: 1200px;
    height: 81px;
    margin: 5px auto;
}
.bottom-top{
    width: 1200px;
    height: 33px;
    padding: 24px 0;
}
.bottom-top-list{
    width: 900px;
    height: 32px;
    float: left;
}
.bottom-top-list ul li{
    position: relative;
    float: left;
    width: 170px;
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
}
.bottom-top-list ul li .icon-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    background: url(../images/footer_new_icon.png) no-repeat 0px 1px;
}
.bottom-top-list ul li span{
    width: 125px;
    height: 32px;
    color: #888888;
    font-size: 16px;
    float: left;
    margin: 0px 0 0 40px;
}
.bottom-top-list ul li:nth-child(2) .icon-bg{
    background-position: -34px 1px;
}
.bottom-top-list ul li:nth-child(3) .icon-bg{
    background-position: -68px 1px;
}
.bottom-top-list ul li:nth-child(2) .icon-bg{
    background-position: -102px 1px;
}
.bottom-top-list ul li:nth-child(2) .icon-bg{
    background-position: -136px 1px;
}
.bottom-top .contact{
    width: 295px;
    height: 32px;
    float: right;
}
.contact .phone-num{
    width: 180px;
    height: 32px;
    float: left;
    position: relative;
}
.phone-num span{
    color: #262626;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    float: left;
    margin-left: 36px;
}
.phone-num .number-icon{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../images/footer_new_icon.png) no-repeat 0px -97px;
}
.contact .phone-item{
    width: 115px;
    height: 32px;
}
.contact .phone-item span{
    cursor: pointer;
} 
.bottom-floor .bottom-center{
    width: 100%;
    height: 295px;
    background-color: #262626;
}
.bottom-center .bottom-center-item{
    width: 1200px;
    height: 177px;
    margin: 0 auto;
    border-bottom: 1px solid #464646;
}
.bottom-center-item .help-list{
    width: 900px;
    height: 132px;
    padding: 30px 0;
    float: left;
    display: flex;
    color: #fff;
}
.help-list .help-items{
    width: 170px;
    padding-right: 10px;
}
.help-items h3{
    font-size: 16px;
    width: 170px;
    height: 24px;
    margin-bottom: 20px;
    font-weight: normal;
    font-weight: bold;
}
.help-items ul li{
    font-size: 14px;
    line-height: 28px;
}
.help-items ul li a{
    font-size: 13px;
    color: #cccccc;
}
.help-items ul li a:hover{
    color: #f42424;
}
.bottom-center-item .help-right{
    width: 276px;
    height: 125px;
    float: right;
    margin-top: 30px;
    display: flex;
}
.help-right .help-right-items{
    background-color: #fff;
}
.help-right .help-right-first{
    margin-right: 60px;
}
.help-right .help-right-img{
    width: 104px;
    height: 104px;
}
.help-right-img img{
    width: 100%;
    height: 100%;
}
.help-right .help-right-text{
    width: 100%;
    height: 20px;
    font-size: 12px;
    text-align: center;
    background-color: #121212;
    color: #fff;
}
.bottom-bottom{
    width: 100%;
    height: 97px;
}
.bottom-bottom .bottom-new{
    width: 1200px;
    height: 78px;
    margin: 20px auto;
}
.bottom-new P{
    text-align: center;
    color: #4c4c4c;
    margin-bottom: 2px;
}
.bottom-new p .inner{
    margin: 0 17px;
    width: 1px;
    height: 11px;
    background-color: #444;
    display: inline-block;
}
.bottom-new p a{
    color: #888;
    font-size: 12px;
}
.bottom-new p a span{
    color: #888;
    font-size: 12px;
}
.bottom-new a:hover{
    color: #f42424;
}
/* 底部结束 */
.left{
    position: fixed;
    top: 50%;
    left: 50px;
    display: none;
}
.left-items{
    width: 70px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e6e6e6;
    color: #333;
    text-align: center;
    margin-bottom: -2px;
    background-color: #fafafa;
    cursor: pointer;
    position: relative;
    font-size: 12px;
}
.left-items .left-arrow{
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #ff4040;
    position: absolute;
    top: 8px;
    right: -11px;
    display: none;
}
.left-list .left-active{
    background-color: #ff4040;
    color: #fff;
    border-color: #ff4040;
}
#goTop{
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    border: 1px solid #e6e6e6;
}













